<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 style="position: absolute; top: 450px; left: 850px; color:blueviolet; font-size: 5rem;"> Image Click!!  </h1>

        <script src="/socket.io/socket.io.js"></script>
        <!-- <script>
          const socket = io();
          console.log("How About This?");
          console.log(io);
        </script> -->
        <script src="/js/cam.js" async defer></script>
    </body>
</html>